{{ partial "global-header.html" . }}

<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                  {{ $categories := slice }}
                  {{ range .Site.Data.work.portfolio }}
                    {{ $categories = $categories | append .category }}
                  {{ end }}
                    <li class="filter" data-filter="all">SeluruhPaket</li>
                  {{ range ( $categories | uniq ) }}
                    <li class="filter" data-filter=".{{ . }}">{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
              <div id="placeholder-loading" class="ph-item" style="display: flex; flex-wrap: wrap;">
                  <div class="ph-picture"></div>
                  <div class="ph-picture"></div>
                  <div class="ph-picture"></div>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {{ range .Site.Data.work.portfolio }}
                    <li class="mix {{ .category }}">
                      <a class="venobox" href="{{ $.Site.BaseURL }}{{ .image }}">
                        <img class="img-responsive" src="{{ $.Site.BaseURL }}{{ .image }}" />
                        <div class="overly">
                          <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                            <i class="fa fa-search fz-20"></i>
                            <h2>{{ .name }}</h2>
                            <p>{{ .description }}</p>
                          </div>
                        </div>
                      </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<script>
    $('#placeholder-loading')
      .hide()  // Hide it initially
      .ajaxStart(function() {
          $(this).show();
      })
      .ajaxStop(function() {
          $(this).hide();
      })
  ;
</script>

<!-- Clients Logo Section Start -->
<!-- <section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {{ range .Site.Data.work.clients }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
